*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 80vw;
    background-color: #362415;
    margin: 0 auto;
    text-align: center;
    margin-left: 20%;

}

#container{
    /*in a row*/
    display:flex;
    flex-direction: row;
    width: 100%;
    /*color*/
    background-color: #DCC2C4;
}

header, footer{
    background-color: #362415;
}

nav{
    background-color: #362415;
    width: 30%;
    display: flex;
    justify-content: center;
}

/*lets get rid of hidden section space for bullets 
because then we cannot. cente*/
nav ul{
    padding-left: 0;
    list-style: none;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li{
    border: 5px solid #DCC2C4;
    border-radius: 50%;
    padding: 2%;
    width: 80%;
}

/*rid of underline*/
nav a{
    text-decoration: none;
}

/*we want a full page push footer down
make main bigger << Safetest solution
*/

main{
    height: 100vh;
    /**/
    width: 70%;
}

@media screen and (max-width: 1000px) {
     #container{
        flex-direction: column;
    }

    nav{
        height: 100vh;
        width: 100%;
        /*when we move to mobile view we need horizontal nav*/
    }

    nav ul{
        flex-direction: row;

    }
}

#image{
    margin-top:-10px;
    padding-bottom: 20px;
}

img{
    max-width:30%;
    height: auto;
    border:10px double #362415
}