*{
    margin: 0%;
    box-sizing: border-box;
}

#page-wrapper{
    width: 80vw;
    background-color: #F2F1EF;
    text-align: left;
    margin: 0 auto;
}

#container{
    /*in a row*/
    display:flex;
    flex-direction: row;
    width: 100%;
    /*color*/
    background-color: white;
}

header, footer{
    background-color: #F2F1EF;
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    color: #737eaf;
    text-align: center;
}

header p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #737eaf;
    text-align: center;
}

footer p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #737eaf;
    text-align: center;
}

/*wrap a block of navigation list*/
nav{
    background-color: #F2F1EF;
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 4px 6px;
}

/*unordered list inside nav*/
/*container of list items*/
nav ul{
    list-style: none; /*remove buller points*/
    width: 80%;
    margin: 0 auto;
    padding: 0;

    display: flex; /*makes it horizontal or vertical*/
    flex-direction: column;
}

/*targets each item inside nav ul*/
/*background, color, size, borders, padding*/
nav li{
    width: 80%;
    margin: 10px auto;
    padding: 10px 20px;
    background: white;
    text-align: center;
}

/*text in blocks*/
/*rid of underline*/
nav a{
    color: #737eaf;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

/*we want a full page push footer down
make main bigger << Safetest solution
*/

main{
    height: 100vh;
    width: 70%;
}

main p {
    font-family: 'Times New Roman', Times, serif;  
    font-size: 20px;                  
    text-align: center;              /* centering */
    line-height: 1.6;                /* line spacing to make the website more fulling*/
    margin: 20px auto;               /* spacing around paragraph */
    max-width: 800px;    
    color: #737eaf;            
}

main li {
    color: #737eaf;      
    margin: 20px;    
    line-height: 1.5; 
    font-size: 18px;     
}

@media screen and (max-width: 1000px) {
     #container{
        flex-direction: column;
    }

    nav{
        height: 100vh;
        width: 100%;
        /*when we move to mobile view we need horizontal nav*/
    }

    nav ul{
        flex-direction: row;

    }
}

#image{
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering if container has height */
    padding: 20px;
}

img{
    max-width:30%;
    height: auto;
    border:10px double #737eaf
}

