*{
    margin: 0%;
    box-sizing: border-box;
}

#page-wrapper{
    width: 80vw;
    background-color: #F2F1EF;
    text-align: left;
    margin: 0 auto;
}

#container{
    /*in a row*/
    display:flex;
    flex-direction: row;
    width: 100%;
    /*color*/
    background-color: white;
}

header{
    background-color: #F2F1EF;
}

footer{
    background-color: white;
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: calc(2px + 120%);
    color: #737eaf;
    text-align: center;
}

header p {
    font-family: 'Times New Roman', Times, serif;
    color: #737eaf;
    text-align: center;
}

footer p {
    font-family: 'Times New Roman', Times, serif;
    color: #737eaf;
    text-align: center;
}

/*wrap a block of navigation list*/
nav{
    background-color: #F2F1EF;
    width: 30%;
    display: flex;
    justify-content: center;
}

/*unordered list inside nav*/
/*container of list items*/
nav ul{
    list-style: none; /*remove buller points*/
    width: 80%;
    margin: 0 auto;
    padding: 0;

    display: flex; /*makes it horizontal or vertical*/
    flex-direction: column;
}

/*targets each item inside nav ul*/
/*background, color, size, borders, padding*/
nav li{
    width: 80%;
    margin: 10% auto;
    background: white;
    text-align: center;
}

/*text in blocks*/
/*rid of underline*/
nav a{
    color: #737eaf;
    text-decoration: none;
    align-items: center;
}

/*we want a full page push footer down
make main bigger << Safetest solution
*/

main{
    height: 100vh;
    width: 70%;
}

main p {
    font-family: 'Times New Roman', Times, serif;                    
    text-align: center;              /* centering */
    margin: 2% auto;               /* spacing around paragraph */  
    color: #737eaf;            
}

main li {
    color: #737eaf;      
    margin: 1% auto;    
    line-height: 1.5;    
}

#image{
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 2%;
}

img{
    max-width:30%;
    height: auto;
}

@media screen and (max-width: 1000px) {
     #container{
        flex-direction: column;
    }

    nav{
        height: 100vh;
        width: 100%;
        /*when we move to mobile view we need horizontal nav*/
    }

    nav ul{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    nav li{
        flex: 1;
        width: auto;
        margin: 0;
    }
}
